@import 'bulma/css/bulma.css';
@font-face {
    font-family: IranSans, serif;
    src: url('../static/IranSans.ttf');
}

a {
    text-decoration: none !important;
}

* {
    direction: rtl !important;
    font-family: IranSans;
}

// fixes body intial margin
body {
    margin: 0;
}

.mb {
    margin-bottom: .75rem;
}

button.block {
    width: 100% !important;
}

button i.el-icon-loading {
    margin-left: 5px;
}

// fixing drop down icon spacing for rtl
i.el-submenu__icon-arrow {
    margin-left: 0px;
    margin-right: 8px;
}

// fixing menu spacings
li.el-menu-item {
    padding: 0px 15px;
}

div.el-submenu__title {
    padding: 0px 0px;
    padding-right: 15px;
}